[Unit]
Description=Configures Zsh at startup. See /etc/profile.d/configure-zsh.sh.

[Service]
Type=oneshot
ExecStart=/etc/profile.d/configure-zsh.sh

[Install]
WantedBy=multi-user.target
